
<div *ngIf="marketOffer">
    <h2><span>Market Offer</span> {{marketOffer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Issuer</span></dt>
        <dd>
            <span>{{marketOffer.issuer}}</span>
        </dd>
        <dt><span>Created</span></dt>
        <dd>
            <span>{{marketOffer.created | date:'medium'}}</span>
        </dd>
        <dt><span>Expiry</span></dt>
        <dd>
            <span>{{marketOffer.expiry | date:'medium'}}</span>
        </dd>
        <dt><span>Expiry Updated</span></dt>
        <dd>
            <span>{{marketOffer.expiryUpdated | date:'medium'}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{marketOffer.type}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <span>{{marketOffer.category}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{marketOffer.location}}</span>
        </dd>
        <dt><span>Is Recurring</span></dt>
        <dd>
            <span>{{marketOffer.isRecurring}}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
            <span>{{marketOffer.text}}</span>
        </dd>
        <dt><span>Appraisal Link</span></dt>
        <dd>
            <span>{{marketOffer.appraisalLink}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-offer/'+ marketOffer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
