<div *ngIf="declineSuccess" class="alert alert-success">Decline mail sent.</div>
<div *ngIf="!declineSuccess && errorMessage !== null" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="contracts" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Client</th>
            <th>Created</th>
            <th>Price</th>
            <th>Jita Buy</th>
            <th>Buyback Price</th>
            <th>Deviation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts">
            <td>{{contract.client}}</td>
            <td>{{contract.created | date:'medium'}}</td>
            <td>{{contract.price | number:'1.0-0'}} ISK</td>
            <td>{{contract.jitaBuy | number:'1.0-0'}} ISK</td>
            <td>{{contract.buybackPrice  | number:'1.0-0'}} ISK</td>
            <td>{{(1 - (contract.price / contract.buybackPrice)) * 100  | number:'1.0-0'}} %</td>
            <td>
                <button *ngIf="!contract.declineMailSent && !contract.approved && (contract.price / contract.jitaBuy) * 100 >= 93 && contract.jitaBuy > 0" class="btn btn-danger" (click)="sendDeclineMail(contract.id)">Decline</button>
                <button *ngIf="!contract.declineMailSent && !contract.approved && (contract.price / contract.jitaBuy) * 100 >= 93 && contract.jitaBuy > 0" class="btn btn-success" (click)="approveContract(contract.id)">Approve</button>
                <div *ngIf="contract.declineMailSent" class="alert alert-danger">
                    This contract was declined.<br/>Please reject it ingame.
                </div>
                <div *ngIf="contract.approved" class="alert alert-info">
                    This contract was approved.<br/>Please accept it ingame.
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
