<div class="card">
    <div class="card-header">
        <span>{{offer.issuer}}</span><span class="pull-right" *ngIf="offer.location">Location: {{offer.location}}</span>
    </div>
    <div class="card-body">
        <p class="card-text" *ngIf="offer.text">{{offer.text}}</p>
        <a href="{{offer.appraisalLink}}" target="_blank" *ngIf="offer.appraisalLink">{{offer.appraisalLink}}</a>
    </div>
    <div class="card-footer" *ngIf="offer.isRecurring">
        Recurring <span *ngIf="offer.type === 'BUY'">request</span><span *ngIf="offer.type === 'SELL'">offer</span>.
        Please contact issuer for details.
    </div>
</div>
<br/>
