<div class="card" *ngIf="!deleted">
    <div class="card-header">
        <table style="width: 100%">
            <tr>
                <td>
                    <button class="btn btn-outline-dark" *ngIf="!editActive" (click)="setEdit(true)">Edit</button>
                    <button class="btn btn-primary" *ngIf="editActive" (click)="setEdit(false)">Save</button>
                </td>
                <td>
                    <span *ngIf="!editActive">Location: {{offer.location}}</span>
                    <div class="input-group" *ngIf="editActive">
                        <span class="input-group-addon" id="basic-addon1">Location</span>
                        <input class="form-control" [(ngModel)]="offer.location" #ctrl="ngModel" aria-describedby="basic-addon1" >
                    </div>
                </td>
                <td style="width: 40%">
                    <div class="pull-right" *ngIf="offer.expiry">Expires: {{offer.expiry | date:'dd.MM.yy'}} <button class="btn btn-success" [disabled]="!canExtend() || !offer.id" (click)="extend()">Extend</button></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <p class="card-text" *ngIf="!editActive">{{offer.text}}</p>
        <textarea class="form-control" *ngIf="editActive" [(ngModel)]="offer.text" rows="5" #ctrl="ngModel"></textarea>
        <p class="card-text" *ngIf="editActive">Keep it short and simple.</p>
    </div>
    <div class="card-footer">
        <table style="width: 100%">
            <tr>
                <td>
                    <!--<div class="form-check">-->
                        <!--<label class="form-check-label">-->
                            <!--<input class="form-check-input" type="checkbox" [ngModel]="recurring" [disabled]="!editActive">-->
                            <!--Recurring-->
                        <!--</label>-->
                    <!--</div>-->
                </td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-danger pull-right" (click)="delete()">Delete</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br *ngIf="!deleted"/>
