<div class="row">
    <div class="col-md-12">
        <h2>Buyback Appraisal</h2>
        <p>Paste your loot in this box:</p>
        <div class="form-group">
                <textarea class="form-control"
                          name="message"
                          rows="10"
                          id="field_message"
                          [(ngModel)]="appraisal.additionalRaw"></textarea>
        </div>
        <button class="btn btn-primary" (click)="executeAppraisal()">Evaluate Loot</button>
        <p>Questions? Ask Avend Avalhar, Algorthan Gaterau or Rihan Shazih on Slack.</p>
        <span *ngIf="isLoadingAppraisal">Loading ...</span>
        <div *ngIf="appraisal.link">
            <br/>
            <span>Buyback Price: {{appraisal.totalBuy * 0.9 | number:'1.0-0'}} ISK (90% Jita Buy)</span>
            <br />
            <span>Link: <a href="{{appraisal.link}}" target="_blank">{{appraisal.link}}</a></span>
            <br/>
            <table class="table table-striped" *ngIf="appraisal && appraisal.items" style="background-color: #eee">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of appraisal.items">
                    <td><img src="https://image.eveonline.com/Type/{{item['typeID']}}_32.png" /> {{item['typeName']}}</td>
                    <td>{{item['quantity'] | number:'1.0-0'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
