<div class="row">
    <div class="col-md-12">
        <h2>Buyback Appraisal - everything at 90% Jita buy</h2>
        <p>Paste your stuff into this box:</p>
        <div class="form-group">
                <textarea class="form-control"
                          name="message"
                          rows="10"
                          id="field_message"
                          [(ngModel)]="appraisal.additionalRaw"></textarea>
        </div>
        <p>
            <button class="btn btn-primary" (click)="executeAppraisal()">
                Evaluate <span *ngIf="appraisal.link">and Add</span>
            </button>
            <button class="btn btn-danger" (click)="clearAppraisal()" *ngIf="appraisal.link">Clear</button>
            <a href="#/the-buyback" class="pull-right">How to create a buyback contract</a>
        </p>
        <p>Questions? Ask Avend Avalhar, Algorthan Gaterau or Rihan Shazih on Slack.</p>
        <div class="alert alert-info" *ngIf="isLoadingAppraisal">Loading ...</div>
        <div *ngIf="appraisal.link">
            <p style="font-size: x-large;">Buyback Price: <b>{{appraisal.buybackPrice | number:'1.0-0'}}</b> ISK</p>
            <p>Evepraisal: <a href="{{appraisal.link}}" target="_blank">{{appraisal.link}}</a></p>
            <table class="table table-striped" *ngIf="appraisal && appraisal.items" style="background-color: #eee; font-size:small;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of appraisal.items">
                    <td><img style="height: 20px; width: 20px;" src="https://image.eveonline.com/Type/{{item['typeID']}}_32.png" /> {{item['typeName']}}</td>
                    <td>{{item['quantity'] | number:'1.0-0'}}</td>
                    <td>{{item['jitaBuyPerUnit'] * item['rate'] | number:'1.0-0'}}</td>
                    <td>{{item['rate'] * 100 | number:'1.0-0'}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
