<style>
    .show{
        opacity: 1 !important;
    }
    .step{
        opacity: 0;
        transition: .5s ease-in-out all;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>The Buyback Appraisal - 90% Jita Buy</h2>
        <p>Paste your stuff into this box:</p>
        <form #formCtrl="ngForm">
            <div class="form-group">
                    <textarea class="form-control"
                              name="message"
                              rows="10"
                              id="field_message" formControlName="field_message"
                              [(ngModel)]="appraisal.additionalRaw" required></textarea>
            </div>
            <p>
                <button class="btn btn-primary" (click)="executeAppraisal()" [disabled]="!formCtrl.form.valid">
                    Evaluate <span *ngIf="appraisal.link">and Add</span>
                </button>
                <button class="btn btn-danger" (click)="clearAppraisal()" *ngIf="appraisal.link">Clear</button>
                <a href="#/the-buyback" class="pull-right">How to create a buyback contract</a>
            </p>
        </form>
        <p>Questions? Ask Avend Avalhar, Algorthan Gaterau or Rihan Shazih on Slack.</p>
        <div class="alert alert-info" *ngIf="isLoadingAppraisal">Loading ...</div>
        <div class="alert alert-error" *ngIf="errorMessage">{{errorMessage}}</div>
        <div *ngIf="appraisal.link">
            <p style="font-size: x-large;">Buyback Price: <b id="buybackPrice" #buybackPrice>{{appraisal.buybackPrice | number:'1.0-0'}}</b> ISK
                <a (click)="copyPrice()">
                    <i style="color: grey" class="fa fa-clipboard"></i>
                </a>
                <span [class.show]="showCopiedPrice" class="step" style="color: green; font-size: small;"><b>Copied!</b></span>
            </p>
            <p>Jita Sell: {{appraisal.jitaSell | number:'1.0-0'}} ISK | Jita Buy: {{appraisal.jitaBuy | number:'1.0-0'}} ISK</p>
            <p>Evepraisal:
                <a href="{{appraisal.link}}" target="_blank" id="appraisalLink" #appraisalLink>{{appraisal.link}}</a>
                <a (click)="copyLink()">
                    <i style="color: grey" class="fa fa-clipboard"></i>
                </a>
                <span [class.show]="showCopiedLink" class="step" style="color: green; font-size: small;"><b>Copied!</b></span>
            </p>
            <table class="table table-striped" *ngIf="appraisal && appraisal.items" style="background-color: #eee; font-size:small;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of appraisal.items">
                    <td><img style="height: 20px; width: 20px;" src="https://image.eveonline.com/Type/{{item['typeID']}}_32.png" /> {{item['typeName']}}</td>
                    <td>{{item['quantity'] | number:'1.0-0'}}</td>
                    <td>{{item['quantity'] * item['jitaBuyPerUnit'] * item['rate'] | number:'1.0-0'}}</td>
                    <td>{{item['rate'] * 100 | number:'1.0-0'}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
