<div class="row" *ngIf="capsOnContract">
    <div class="col-md-12">
        <h2>Sexy Caps - on contract and demand</h2>
        <p>Grab one from the public contracts in GE! No waiting, no deposits, just caps.</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hull</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of capsOnContract">
                <td><img src="https://image.eveonline.com/Type/{{item['typeId']}}_32.png" /> {{item['typeName']}}</td>
                <td>{{item['price'] | number:'1.0-0'}} ISK</td>
            </tr>
            </tbody>
        </table>
        <p>Want more?</p>
        <p *ngIf="!account"><a href="#/login">Sign in</a> to order capitals, supers and fittings!</p>
        <button *ngIf="account" class="btn btn-primary" [routerLink]="['/order-caps']">Place an Order</button>
    </div>
</div>
