<div class="row" *ngIf="capsOnContract">
    <div class="col-md-12">
        <h2>Sexy Caps - on contract and demand</h2>
        <p>We sell all the caps. <span *ngIf="!account"><a routerLink="login">Sign in</a> to order supers and titans.</span> Normal capitals are available from the public contracts in GE. <br/><b>No waiting, just fun!</b></p>
        <p *ngIf="account"><button class="btn btn-primary" [routerLink]="['/order-caps']">Order a Super or Titan</button></p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Capital Hull</th>
                <th>Quantity listed in GE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of capsOnContract">
                <td><img src="https://image.eveonline.com/Type/{{item['typeId']}}_32.png" /> {{item['typeName']}}</td>
                <td>{{item['quantity'] | number:'1.0-0'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
