<style>
    canvas {
        display    : block;
        /*width   : auto;*/
        /*height  : auto;*/
        width      : 100%;
        height     : 100%;
    }
    #container {
        background-color: #000;
        position : relative;
        color    : #eee;
        display: flex;
        width : 100%;
        min-height : 600px;
    }
    #container canvas, #overlay {
        position: absolute;
    }
    #overlay {
        padding : 10px;
        height: 100%;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <jhi-appraisal></jhi-appraisal>
        <jhi-caps-on-contract></jhi-caps-on-contract>
    </div>
    <div class="col-md-6">
        <div id="container">
            <canvas id="canvas"></canvas>
            <div id="overlay">
                <h2>The Buyback turns 1 year!</h2>
                <h4>We're grateful about a whole year of continued service with all its ups and downs. It took us a lot
                    of work to get to this point, and we hope to continue being Brave's leading buyback.
                    <br/>
                    <br/>
                    Now it's time to celebrate you with some giveaways:
                </h4>
                <ul>
                    <li>Home grown VNI x10</li>
                    <li>Home grown Astero x5</li>
                    <li>Home grown Procurer x2</li>
                    <li>Atron Serpentis SKIN (Permanent) x2</li>
                    <li>Atron Valimor Legacy SKIN (Permanent) x4</li>
                    <li>Caracal Headhunter SKIN (Permanent) x4</li>
                    <li>Astero SOE Gold Cell (Archaeology) SKIN (Permanent) x3</li>
                </ul>
            </div>
        </div>
        <div>
            <h4>How to participate</h4>
            <p>By March, 3rd 12:00 UTC you must have signed in with EVE SSO at this website and be in the Slack channel #the-buyback.
               Having signed in before this announcement counts. Every person can win one (1) random item in 68FT-6. Deadline: 03.03.2018 12:00 UTC</p>
        </div>
    </div>
</div>
