<h2>Assets</h2><p>You may request from assets through WTB contracts at 100% Jita sell (currently limited to our main hubs 68FT Keepstar and GE Fort).</p>
<div class="row">
    <div class="col-md-6">
        <b>Howto:</b>
        <ul>
            <li>Search for up to 50 item types.</li>
            <li>Find what you want and do the math to get the items' price at 100% Jita sell (use <a href="http://evepraisal.com" target="_blank">evepraisal.com</a>).</li>
            <li>Create a contract to The Buyback with "I will pay" at the 100% Jita sell value and request the according
                items. You might have to travel to the destination. Watch the video if you don't know how to create a WTB contract.
            </li>
            <li>Wait for us to accept or reject the contract. We will instantly reject a contract if we can't
                fulfill it or if the price is below 100% Jita sell (there's some buffer for market fluctuations).
            </li>
            <li>Questions? Join #the-buyback on Slack.</li>
        </ul>

        <p>
            <b>Warning: We will NOT tell you why we rejected a contract. It is up to you to set the proper price and request
               all the items you pay for. We will only check if the items' value is equal or less than 100% Jita sell.
               Overpaid contracts will be accepted.
            </b>
        </p>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oGRsHhasO8M?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<h3>Search Form</h3>
<div>Use any evepraisal.com compatible format, case sensitive types are faster ;)</div>
<form #formCtrl="ngForm">
    <div class="form-group">
                    <textarea class="form-control"
                              name="message"
                              rows="5"
                              id="field_message"
                              [(ngModel)]="searchText"
                              required></textarea>
    </div>
    <p>
        <button class="btn btn-primary" (click)="search()" [disabled]="!formCtrl.form.valid">
            Search
        </button>
    </p>
</form>

<div class="alert alert-info" *ngIf="loading">Loading ...</div>
<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="alert alert-warning" *ngIf="data?.length === 0">Nothing found :(</div>
<table class="table table-striped" *ngIf="data?.length > 0">
    <thead>
    <tr>
        <th>Type</th>
        <th>Quantity</th>
        <th>Location</th>
    </tr>
    </thead>
    <tr *ngFor="let entry of data">
        <td>{{entry.typeName}}</td>
        <td>{{entry.quantity | number:'1.0-0'}}</td>
        <td>{{entry.locationName}}<span *jhiHasAnyAuthority="'ROLE_MANAGER'">: {{entry.locationFlag}}</span></td>
    </tr>
</table>
